
<form action="addcategory" method="post">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">name</label>
        <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="product name">
    </div>

    
    <button type="submit" class="btn btn-primary">add Category</button>
</form>