
<form action="addproduct" method="post">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">name</label>
        <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="product name">
    </div>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">category</label>
        <select class="form-select" aria-label="Default select example" name="category">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
    </div>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">price</label>
        <input name="price" type="number" class="form-control" id="exampleFormControlInput1" placeholder="product price">
    </div>
    <button type="submit" class="btn btn-primary">add product</button>
</form>