

<table class="table table-dark table-striped mt-5">
   <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">action</th>
      
    </tr>
  </thead>
   <tbody>
       {{#each category}}
      
        <tr>
            <th scope="row">{{this.id_category}}</th>
            <td>{{this.name}}</td>
            <td>
                <a href="updatecategory/{{this.id_category}}" class="btn btn-warning">update</a>
                <a href="deletecategory/{{this.id_category}}" class="btn btn-danger">delete</a>
            </td>
        </tr>
            
       {{/each}}
    </tbody>
</table>