<div class="row mt-5">
    <div class="col-6 d-flex justify-content-center mt-5">
        <button class="btn-hover text-white">
            <a href="/allcategory" class="text-white" style="text-decoration: none;">Category</a> 
        </button>

    </div>
    <div class="col-6 d-flex justify-content-center mt-5">
        <button class="btn-hover text-white" >
            <a href="/allproduct" class="text-white" style="text-decoration: none;">Product</a> 
        </button>

    </div>
</div>

